<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<meta charset="UTF-8">
<title>具体内容页</title>

<link rel="stylesheet" href="framework/bootstrap-3.3.0-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/list.css">
<link rel="stylesheet" href="css/news.css">

 <!-- 导入Angular和js -->
 
 <script src="framework/jquery-2.1.4/jquery.min.js"></script>
 <script src="framework/bootstrap-3.3.0-dist/js/bootstrap.min.js"></script>
 <script src="framework/angular-1.4.0/angular.min.js"></script>
 <script src="framework/angular-1.4.0/angular-route.min.js"></script>
 
 <script src="js/news.js"></script>
</head>
<body ng-controller="newsCtr">
	 <div class="index_bg">
        <img class="index_tit" src="images/index_title.png" alt="这是一个标题">
        <div class="white">
            <p class="wel_in">Welcome To Us !<p>
            <div class="sea_div">
                <input type="text" name="title_in">
                <span>搜索</span>
            </div>
        </div>
        <nav class="in-nav">
            <ul>
                <li class="in_active"><a href="#">News</a></li>
                <li><a href="index.html">首页</a></li>
                <li><a href="#">新闻发布</a></li>
                <li><a href="#">新闻类型</a></li>
            </ul>
        </nav>
        <!--模态框-->
        <div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-body">
			        <form>
			          <div class="form-group">
			            <label for="recipient-name" class="control-label">评论内容:</label>
			            <textarea id="recipient-name"  class="form-control" required ng-model="comment.comments"></textarea>
			          </div>
			        </form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal" id="formClose">关闭<button>
			        <button type="button" class="btn btn-primary"  ng-click="Finshed()">发布<button>
			      </div>
			    </div>
			  </div>
			</div>
		
        
        <!--下面左边部分-->
        <div class="container list">
            <div class="row">
                <div class="line">
                    <p><span>{{news.newsType}}</span></p>
                </div>
                <section class="news">
                    <a href="#"><h3>{{news.newsTitle}}</h3></a>
                    <article>
                        <p class="author">BY:<span>{{news.username}}</span>&nbsp;&nbsp;发布时间:<span>{{news.time}}</span></p>
                        <img src={{news.newsImg}} alt="这是一个图片文件" class="file">
                        <a class="list-content">
                             {{news.content}}
                        </a>
                    </article>
                    <div class="list-btn">
                        <button class="btn btn-default" data-toggle="modal" data-target="#comment">
                            <span class="glyphicon glyphicon-envelope" ></span>评论
                        </button>
                        <button class="btn btn-default praise" id="{{news.newsNum}}">
                            <span class="glyphicon glyphicon-thumbs-up" ></span><span class="number">{{news.newsNum}}</span>
                        </button>
                    </div>
                </section>
                 <!-- 评论区 -->
                 <div class="line">
                    <p><span>评论区</span></p>
                </div>
                <article class="commentNew" ng-repeat="comments in commentss">
                	<img src={{comments.imageId}} class="newPhoto"> 
                	<div class="newContent">
                		<p style="font-size:16px;margin-top:0px;">{{comments.username}}</p>
                		<p style="font-size:12px;color:#ccc">{{comments.commentTime}}</p>
                		<p>{{comments.conContent}}</p>
                	</div>
                </article>
                    
                
            </div>
        </div>
        <footer style="color:#ccc">
            <div class="foot-two">
                <ul class="about">
                    <li class="top-tit">关于我们<em>About</em></li>
                    <li>来自中北大学信息商务学院</li>
                    <li>计算机科学与技术</li>
                    <li>请扫码提出您宝贵的意见</li>
                </ul>
                <ul class="phone">
                    <li class="top-tit">联系方式<em>Phone</em></li>
                    <li>手机:18306845198</li>
                    <li>QQ:1398858625</li>
                    <li>微信:hyx318419</li>
                </ul>
                <ul class="saotu">
                    <li class="top-tit">扫码关注<em>Look</em></li>
                    <li>
                        <img src="images/QQ.png" alt="QQ">
                        <img src="images/weixin.png" alt="weixin">
                    </li>
                </ul>
            </div>
            <div class="foot-three">
                <p>最终解释权归韩彧霞所有，联系方式:18306845198</p>
            </div>
        </footer>
     </div>
</body>
</html>